<div class="p-9 md:p-10 md:h-screen sticky top-0 max-w-full md:w-2/6 justify-center md:flex md:flex-col text-lg">
  <!-- colophon -->
  <ul class="text-slate-600 mb-4">
    <li class="text-red-800 font-serif italic">Navigation</li>
    <li><%=link_to "About", "/about" %></li>
  </ul>
  <ul class="text-slate-600 mb-4">
    <li class="text-red-800 font-serif italic">Elsewhere</li>
    <li><%=link_to "Medium", "https://medium.com/@nickmjones", target: :_blank %></li>
    <li><%=link_to"Mastodon", "https://mastodon.social/@nickmjones", target: :_blank, rel: :me %></li>
    <li><%=link_to "Unsplash", "https://unsplash.com/@nickmjones", target: :_blank %></li>
  </ul>
  <p class="text-slate-600 mb-4">
    Dispatches about product design, work, and life. Compiled semi-regularly in Providence.
  </p>
  <p class="text-sm text-slate-400 mb-8">
    Copyright &copy; <%= Time.zone.now.year %> Nick Jones. All rights reserved, all wrongs reversed.
  </p>
  <% if signed_in? %>
    <%= button_to '💀', sign_out_path, method: :delete %>
  <% end %>
  <!-- /colophon -->
</div>