<!DOCTYPE html>
<html>
  <head>
    <title>It's Probably Nothing - Nick Jones</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;1,6..72,400&display=swap" rel="stylesheet">
  </head>

  <body class="bg-slate-100 dark:bg-slate-900">

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <main class="flex flex-wrap md:flex-nowrap max-w-5xl mx-auto">

      <!-- left column p-10-->
      <div class="p-16 md:p-10 bg-white dark:bg-slate-400 max-w-full md:w-3/4">
        <!-- masthead -->
        <div class="flex flex-col mb-28">
          <h1 class="masthead text-5xl font-bold text-slate-700 dark:text-slate-900 pb-2">
            <%= link_to "It's Probably Nothing", "/" %>
          </h1>
          <h3 class="text-xs text-sky-500 dark:text-white uppercase tracking-wider">
            Written by Nick Jones
          </h3>
        </div>
        <!-- /masthead -->
        <%= yield %>
      </div>
      <!--/left column -->
      
      <!-- right column -->
      <div class="p-16 md:p-10 md:h-screen sticky top-0 max-w-full md:w-1/4 justify-center md:flex md:flex-col">
        <!-- colophon -->
        <ul class="text-sm text-slate-600 mb-4">
          <li class="text-xs text-blue-600 uppercase">Navigation</li>
          <li><%=link_to "About", "/about" %></li>
        </ul>
        <ul class="text-sm text-slate-600 mb-4">
          <li class="text-xs text-blue-600 uppercase">Elsewhere</li>
          <li><%=link_to "Medium", "https://medium.com/@nickmjones", target: :_blank %></li>
          <li><%=link_to"Mastodon", "https://mastodon.social/@nickmjones", target: :_blank, rel: :me %></li>
          <li><%=link_to "Unsplash", "https://unsplash.com/@nickmjones", target: :_blank %></li>
        </ul>
        <span class="text-slate-400">&mdash;</span>
        <p class="text-sm text-slate-600 mb-4">
          Dispatches about product design, work, and life. Compiled semi-regularly in Providence.
        </p>
        <p class="text-xs text-slate-400 mb-8">
          Copyright &copy; <%= Time.zone.now.year %> Nick Jones. All rights reserved, all wrongs reversed.
        </p>
        <% if signed_in? %>
          <%= button_to '💀', sign_out_path, method: :delete %>
        <% end %>
        <!-- /colophon -->
      </div>
      <!-- /right column -->

    </main>
    
  </body>
</html>
