<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "It's Probably Nothing" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <!-- plausible.io analytics -->
    <script defer data-domain="nickmjones.me" src="https://plausible.io/js/script.js">
    </script>
    <!-- end analytics -->
  </head>

  <body class="bg-lightyellow dark:bg-gray-800">

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <aside class="max-w-3xl mx-auto mt-9 p-9">
    <!-- masthead -->
      <h1 class="text-l font-sans font-normal leading-tighter text-slate-900 dark:text-indigo-400">
        I'm Nick Jones. I'm a web, graphic, and product designer. Dispatches about product design, work, and life. Compiled semi-regularly in Providence. Read more about me <%=link_to "here", "/about", class: "underline" %>, or read about my <%= link_to "work background", "/work", class: "underline" %>.
      </h1>
    <!-- /masthead -->
    </aside>

    <main class="flex flex-wrap md:flex-nowrap max-w-3xl mx-auto">

      <!-- left column p-10-->
      <div class="p-9 md:p-10 max-w-full md:w-4/6 overflow-hidden">
        <%= yield %>
      </div>
      <!--/left column -->
      
      <!-- right column -->
      <%= render "shared/sidebar" %>
      <!-- /right column -->

    </main>
    
  </body>
</html>
